
<section id="<%= dom_id income %>" class="flex justify-between items-center" >
  
  <section>
    <p class="my-5">
      <strong class="block font-medium mb-1">Descripción:</strong>
      <%= income.description %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Dinero:</strong>
      <%= number_to_currency(income.value,:separator => ",", :delimiter => ".", precision: 0) %>
    </p>  
  </section>
  
<!--
  <p class="my-5">
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= income.comments %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Userid:</strong>
    <%= income.user_id %>
  </p>
-->

  <% if action_name != "show" %>
    <section>
      <%= link_to "Detalles", income, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Editar', edit_income_path(income), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </section>
  <% end %>
  
</section>
<hr class="mt-6">
