<section id="<%= dom_id expense %>" class="flex justify-between items-center">
  <section>
    <p class="my-5">
      <strong class="block font-medium mb-1">Description:</strong>
      <%= expense.description %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Value:</strong>
      <%= number_to_currency(expense.value, :separator => ",", :delimiter => ".", precision: 0) %>
    </p>
  </section>
  
<!--
  <p class="my-5">
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= expense.comments %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Userid:</strong>
    <%= expense.user_id %>
  </p>
  -->

  <% if action_name != "show" %>
    <section>
      <%= link_to "Detalles", expense, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Editar', edit_expense_path(expense), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    </section>
  <% end %>
</section>
<hr class="mt-6">
