<!DOCTYPE html>
<html>
  <head>
    <title>FinancialHealth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.1/dist/flowbite.min.css" />
  </head>

  <body>
    
    <main class="container mx-auto mt-28 px-5 flex">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% if user_signed_in? %>
        <%= render partial: 'partials/sidebar' %>
        <p>
        Ingresaste sesión como 
        <%= link_to current_user.email, edit_user_registration_path %>
        </p> 
      <% else %>
        <%= link_to 'Login', new_user_session_path %>
        <%= link_to 'Create Account', new_user_registration_path%>
      <% end %>
      
      <%= yield %>
    </main>
  </body>
</html>
